@font-face {
	font-family:AUTHENTIC;
	src:url("../AUTHENTICSans-60.woff");
	font-weight:60;
}

@keyframes scroll {
  from {transform:translateY(100%);}
  to {transform:translateY(-3000px);}
}

@keyframes scrollmobile {
  from {transform:translateY(100%);}
  to {transform:translateY(-4000px);}
}





p {
	margin:0;
}

body {
	display:flex;
	overscroll-behavior: none;
	font-family:AUTHENTIC;
}

a {
	text-decoration:none;
	color:black;
}

.navigation-bar{
	border-right: 2px solid black;
	background-color: #d6a0ff;
	POSITION: FIXED;
	HEIGHT: 100%;
	width: 55px;
	z-index: 2;
}

.navigation-bar a {
	writing-mode: vertical-rl;
	padding:5px 20px 10px 10px;
	font-size:4vh;
	margin:0;
	text-orientation: mixed;
	transition:0.3s;
}

.navigation-bar a:hover {
	transform:translate(10px);
	text-decoration:underline;
	cursor:pointer;
}

.main-content {
    display: flex;
	flex-direction: column;
    width: 100%;
    overflow: hidden;
    padding-left: 55px;
}


.index-container {
	width:100%;
	overflow:scroll;
	background-color:white;
	/*border-right:2px solid black;*/
	border-bottom:2px solid black;
	
}

/*HEADER*/

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    /*height: 30vh;*/
    width: 90%;
    border-bottom: 2px solid black;
    position: fixed;
    background-color: white;
    z-index: 1;
    text-align: center;
}

.title p {
	font-size:30px;
	margin:0;
	padding-top:10px;
}

.title {
	display:flex;
	display: flex;
	align-self: center;
	justify-content: center;
	height:auto;	
}

.index {
	cursor:pointer;
}

.tags-index {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3,1fr);
	border-bottom: 2px solid black;
	border-top: 2px solid black;
	
}

.tag {
	
    outline: 1pt solid black;
    width: auto;
    height: 5vh;
    padding: 0;
    margin: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
    word-break: break-all;
}

.first-tag {
	background-color:transparent;
	color:black;
}
/*COLOPHON*/


.colophon {
	
	top: 30vh;
	right: 0;
	width: 90%;
	height: 84%;
	color: white;
	background-color: black;
	display: flex;
	justify-content: center;
	position: fixed;
	z-index: -1;
	border-right: none;
}

.title-colophon {
	position:fixed;
	right:0;
	padding:15px;
	
}


.credits {
	text-align:center;
    font-size: 40px;
    line-height: 1.5;
	padding-left:22px;
	 animation: scrollmobile 30s infinite linear;
}

#circlebutton {
	
    display: flex;
    width: 70px;
    height: 70px;
    left: 51%;
    top:auto;
	bottom:5vh;
    transform: translateX(-20px)rotate(90deg);
    border-radius: 50%;
    background-color: white;
    border: 1px solid black;
    align-self: center;
    align-items: center;
    position: fixed;
    z-index: 5;
	
}
#circlebutton p {
	width:100%;
	font-size:80px;
	text-align:center;
	transition:1s;
	cursor:pointer;
	
}



/*INDEX*/

.wordlist {
    overflow: scroll;
	margin-top: 34vh;
	padding-bottom: 10vh; 
	height: 40vh;
	-webkit-overflow-scrolling: touch;
	
}

.letter {
	padding: 15px 15px 0px 16px;
	font-size: 5vh;
}

.reveal.word {
    border-bottom: 2px solid black;
    padding-left: 20%;
	cursor:pointer;
	
}

.word {
	padding:5px 0px 5px 0px;
}

.hidden-content {
	display:none;
}

.hidden-content img {
	width:70%;
	height:auto;
}

.hidden-content p {
	padding-top:5px;
	margin-right:10%;
}

.hidden-content p:last-of-type{
	margin-bottom:20px;
}

.play {
	font-size:3vh;
}





/*QUERIES*/
@media only screen and (min-width: 800px) {
	
	.navigation-bar {
		width: 67px;
		
	}

	.navigation-bar a {
		writing-mode: vertical-rl;
		padding:20 20px 20 10px;
		font-size:4vh;
		margin:0;
		text-orientation: mixed;
		transition:0.3s;
		
	}
	
	.main-content {
		padding-left:67px;
		flex-direction: row;
		
	}
	
	.index-container {border-right:2px solid black; border-bottom:none; width:70%;}
	
	.header {
		    justify-content: space-evenly;
		    height: 120px;
		    width: 92%;
			flex-direction: row;
			text-align: left;
	}
	
	.title {
		align-self:flex-start;
		padding:20px;
	}
	
	.tags-index {
		border-left: 2px solid black;
		border-right: 2px solid black;
		border-bottom:none;
		border-top:none;
	}
	
	.tag {
	    width: 15vw;
		height:auto;
		font-size:20px;
	}
	
	.wordlist {
	    margin-top: 120px;
		margin-bottom: 10vh;
		height:100%;
		width:100%;
	}
	.letter {
		font-size: 5vw;
	}
	
	#circlebutton {
		left: 70%;
		top:60%;
		bottom:auto;
		transform: translateX(-20px) rotate(0deg);
	}
	
	.colophon {
	    top: 120px;
	    width: 60%;
	    height: 100%;
		border-right:2px solid black;
	}
	
	.index {
		width:30%;
		
	}
	
	.credits {
		padding:none;
		animation: scroll 30s infinite linear;
	}
}




